*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url("C:\Users\BISWAS\Desktop\assessment\website1\public\Photos\background.jpg");
    background-position: center;
    background-size: cover;
    position: relative;

}
.text-box{
    width: 90%;
    color: #fff;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.view{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-bottom: 100px;
}
.view-section{
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: antiquewhite;
    padding-bottom: 100px;
}
.view-photo{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.view-photo-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    padding-top: 50px;
}
.view-photo-col img{
    width: 100%;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(246, 158, 158, 0.7);

}